{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <div class="card card__beers">
      <div class="card-body">
        <h5 class="card-title">{{ beer.name }}</h5>
        <p>Price : {{ beer.price ?? 'aucune information' }} </p>
        <p>Degree : {{ beer.degree }} </p>
        <p>{{ beer.description }}</p>
        <p><small>Date d'invention : {{ beer.publishedAt | date('d/m/Y h:i:s') }} </small></p>
        <img src="{{ asset('build/images/beer_00.jpg') }}" />
        <p> Country : {{ beer.country.name }} </p>
        <p> Categories: </p>
        <ul>
          {% for category in beer.categories %}
            <li>{{ category.name }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
